<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body class="container">
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <h1>Home page</h1>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/booking-form" role="button">Book an appointment</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/update-form" role="button">Update an appointment</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/cancellation-form" role="button">Cancel an appointment</a>
  </p>
  
</body>
<script>
  const cookies = document.cookie
  console.log('cookies ejs: ', cookies.split("; "));
  if (cookies.split("; ").includes("currentUser=null")) {
    console.log('no user ejs: ',cookies.split("; ").includes("currentUser=null"));
  } else {
    console.log('current user ejs: ', cookies);
  }
  console.log('query selector: ', document.querySelectorAll('.content.unauthorized'));
  </script>

</html>